<!DOCTYPE html>
<html lang = eng >
<head>
    <meta charset = "utf-8" >
    <meta name="viewport"  content="width=device-width, initial-scale=1.0" >
    <title >   Countrynator | Home </title >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Wallpoet&display=swap"
    rel="stylesheet">

    
    <link rel = "stylesheet" href = "/static/styles/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<section class = 'hero'>
    <nav class="sidebar" id="sidebar">
        <button class="hamburger" id="hamburger">&#9776;</button>
        <ul class="menu" id="menu">
            <li class="pageName"><img src="/static/images/name.png" alt="app_name">
            </li>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('play')}}">Play</a></li>
            <li><a href="{{url_for('learn')}}">Learn</a></li>
            <li><a href="{{url_for('user')}}">User</a></li>
        </ul>
      </nav>

      <div class="slideshow">
        
        <div class="card" data-continent="Africa" onclick="loadQuestions(this.dataset.continent)">
            <div class="image">
              <img src="/static/images/africa.png" alt="" />
            </div>
            <h2>Africa</h2>
            <p> Don't you FINALLY want to know where in Africa Nigeria is?</p>
          </div>

        <div class="card"data-continent="Europe" onclick="loadQuestions(this.dataset.continent)">
          <div class="image">
            <img src="/static/images/europe.png" alt="" />
          </div>
          <h2>Europe</h2>
          <p>I bet you didn't know Sofia was the capital of Bulgaria.</p>
        </div>

        <div class="card" data-continent="Oceania" onclick="loadQuestions(this.dataset.continent)">
          <div class="image">
            <img src="/static/images/oceania.png" alt="" />
          </div>
          <h2>Oceania</h2>
          <p>No, it's not just Australia and New Zealand.</p>
        </div>

        <div class="card" data-continent="North America" onclick="loadQuestions(this.dataset.continent)">
          <div class="image">
            <img src="/static/images/northam.jpg" alt="" />
          </div>
          <h2>North America</h2>
          <p>Yeah, that's where Costa Rica is!</p>
        </div>

        <div class="card" data-continent="South America" onclick="loadQuestions(this.dataset.continent)">
            <div class="image">
              <img src="/static/images/southam.png" alt="" />
            </div>
            <h2>South America</h2>
            <p>They breathe football there.</p>
        </div>

        <div class="card" data-continent="Asia" onclick="loadQuestions(this.dataset.continent)">
            <div class="image">
              <img src="/static/images/asia.jpg" alt="" />
            </div>
            <h2>Asia</h2>
            <p>It's way too big for real...</p>
        </div>
    </section>  
</body>
<script src="/static/scripts/play.js"></script>
</html>